@using MovieAPI.OmdbApi

@model OmdbMovie

@{
    ViewData["Title"] = "GetMovieDetails";
}

<h1>@Model.Title</h1>

<div class="media">
    <img src="@Model.Poster" class="mr-4"/>
    <div class="media-body">
        
        <p>Plot: @Model.Plot</p>
        <p>Date Released: @Model.Released</p>
        <p>Director: @Model.Director</p>
        <p>Metascore: @Model.Metascore</p>
        <p>IMDB Rating: @Model.ImdbRating</p>
        <p><a href="https://imdb.com/title/@Model.ImdbId">imdb.com</a></p>
        <p><a href="/Home/ToggleMovieFavorite?ImdbId=@Model.ImdbId">Add To Favorites</a></p>
    </div>
</div>